choice
	prompt "Rockchip SoC Type"
	depends on ARCH_RK3188

config SOC_RK3188
	bool "RK3188"

endchoice

choice
	prompt "RK3188 Board Type"
	depends on SOC_RK3188

config MACH_RK3188_TB
	bool "RK3188 Top Board"

config MACH_RK3188_FPGA
	bool "RK3188 FPGA board"
	select RK_FPGA

config MACH_RK3188_LR097
        bool "RK3188 LR097 JC21CA board"

config MACH_RK3188_DS1006H
	bool "RK3188 ds1006h board"

config MACH_RK3188_BOX
	bool "RK3188 box board"
	
endchoice

menu "RK3188 OVERCLOCK"
 	depends on ARCH_RK3188 && MACH_RK3188_BOX

config OVERCLOCK_CPU
	bool "CPU Overclock"
	help
	  Standard CPU (over)clocking (up to 1.7GHz)

config EXTREME_OCCPU
	bool "- Extreme CPU O/C"
	help 
	  Does not work well on some devices (i.e. MK908)
	  Opens up overclocking to 2+ GHz

config OVERCLOCK_GPU
	bool "GPU Overclock"
	help 
	  Standard GPU (over)clocking (up to 600MHz)

config EXTERME_OCGPU
	bool "- Extreme GPU O/C"
	help
	  Does not work well on some devices (i.e. MK908)
	  Opens up overclocking step to 800MHz

config OVERCLOCK_RAM
	bool "RAM Overclock"
	help
	  Standard RAM (over)clocking (up to 800MHz)

config EXTREME_OCRAM
	bool "- Extreme RAM O/C"
	help
	  Open up overclocking DDR to XXXXMHz

config OVERVOLT_CPU
	bool "CPU Overvolting"
	help
	  This just opens up a little more voltage. 
	  This option can be tied into to various O/C features
	  later, as it is right now.. it just bumps standard voltage
	  from 1.375 to 1.450 

endmenu

config RK_VOLT1
	bool 
	default n

config RK_VOLT2
	bool
	default n
